.profile {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 2em auto 1rem;
    padding: .5em;
    border: .3em solid rgb(255, 30, 0);
    border-radius: .5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    background-color: rgba(27, 26, 26, 0.747);
}

#profilecheif {
    padding-top: 110px;
    padding-bottom: 110px;
    background-image: url('../../../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.profile h3 {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.flex p:first-child {
    width: 35%;
    text-align: right;
    margin: .5em;
}

.flex p:last-child {
    width: 55%;
    text-align: left;
    margin: .5em;
    font-weight: bold;
}

.profile button {
    color: white;
    font-weight: 900;
    background-color: black;
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    outline: none;
}

.flex>input,
.flex>div {
    width: 55%;
    text-align: left;
    margin: .5em;
}

.flex>div>input {
    width: 77%;
}

.flex select {
    padding: 0.17em 0;
}

.red-button {
    background-color: red;
}

#edit-button:hover {
    background-color: black;
}

#edit-button {
    color: white;
    padding-left: 20px;
    padding-right: 10px;
    background-color: rgb(255, 30, 0);
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: arial, helvetica, verdana, sans-serif;
    font-weight: 900;
}