<form class="register" #f="ngForm" (ngSubmit)="submitFormHandler(f.value)">

    <fieldset>
        <h1>Registration Form</h1>

        <!-- username -->
        <p class="field">
            <label for="username">Username</label>
            <input #userUsername="ngModel" class="input-error" type="text" name="username" id="username" ngModel required minlength="4">
        </p>
        <p class="error" *ngIf="userUsername.touched && userUsername.errors?.required">
            Username is required!
        </p>
        <p *ngIf="userUsername.touched && userUsername.errors?.minlength" class="error ">
            Username must be at least 4 characters!
        </p>
        <!-- email -->
        <p class="field field-icon">
            <label for="email">Email</label>
            <input #userEmail="ngModel" class="input-error" type="email" name="email" id="email" ngModel required minlength="4" pattern="^[a-zA-Z0-9\.-]{4,}@\w+\.(com|bg)$">
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.required" class="error">
            Email is required!
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.pattern" class="error ">
            Email is not valid!
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.minlength" class="error ">
            Email must be at least 4 characters!
        </p>
        <p class="field">
            <label for="imageUrl">Image Url</label>
            <input #e="ngModel" type="text" name="imageUrl" id="imageUrl" ngModel pattern="[data:image\/\w;,+]+">
        </p>
        <p *ngIf="userEmail.touched && userEmail.errors?.pattern" class="error ">
            Image Url is not valid!
        </p>
        <!-- password -->
        <p class="field ">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="******">
        </p>
        <!-- <p class="error">
            Password is required!
        </p>
        <p class="error">
            Password must be at least 4 characters!
        </p> -->

        <!-- rePassword -->
        <p class="field field-icon">
            <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
            <input type="password" name="rePassword" id="rePassword" placeholder="******">
        </p>
        <!-- <p class="error">Repeat Password does not match password!</p> -->

        <button disabled>Create Account</button>

        <p class="text-center">
            Have an account?
            <a href="#">Log In</a>
        </p>

    </fieldset>
</form>