<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#"><b>{{post.userId.username}}</b></a> made a post.
                    </div>
                    <h6 class="text-muted time">{{post.created_at}}</h6>
                </div>

                <div class="row pull-right col-xs-3" *ngIf="isCreator">
                    <div class="col-2 text-truncate">
                        <a [routerLink]="['/post/delete', post._id]" class=" btn-block col-xs-3 btn btn-success">Edit Post</a>
                        <a [routerLink]="['/post/delete', post._id]" class="btn-block col-xs-3 btn btn-danger">Delete Post</a>
                    </div>
                </div>
                <div id="creatorButtons text-left ">

                </div>

            </div>
            <div class="post-description">
                <h5>{{post.title}}</h5>
                <p>{{post.description}}</p>
                <div class="stats">
                    <a [routerLink]="['/post/like', post._id]" class="btn btn-primary stat-item">
                        <i class="fa fa-thumbs-up icon"></i>{{post.likes.length}}
                    </a>
                </div>
            </div>
            <form #c="ngForm" (ngSubmit)="submitFormHandler(c.value)">
                <div class="input-group">
                    <input #comment="ngModel" class="input-error" placeholder="Comment" type="text" name="comment" id="comment" ngModel required minlength="4">

                    <p class="error" *ngIf="comment.touched && comment.errors?.required">
                        Comment is required!
                    </p>
                    <p class="error" *ngIf="comment.errors?.minlength">
                        Comment must be at least 4 characters!
                    </p>


                    <button class="btn btn-primary" [disabled]="isLoading || c.invalid">Comment</button>
                </div>
            </form>
            <div class="post-footer">
                <div class="comments-list">
                    <div class="comment">
                        <div class="comment-body" *ngFor="let comment of post.comments">
                            <div class="comment-heading">
                                <h4 class="user">{{comment.userId.username}}</h4>
                                <h5 class="time">{{comment.created_at}}</h5>
                            </div>
                            <p>{{comment.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>