<header>
    <nav class="navbar inline-block">
        <div class="container">
            <span style="color:orangered">
                <a class="navbar-brand pageTitle" >FitnessBook</a>
            </span>
            <div class="inline">
                <ul class="inline-block">
                    <!-- @if (!this.User.Identity.IsAuthenticated)
                    else
                    { -->
                    <li class="nav-item inline custmonavbar">
                        <a class="nav-link text-white">Home</a>
                    </li>
                    <li class="nav-item inline custmonavbar">
                        <a class="nav-link text-white">Exercises</a>
                    </li>
                    <li class="nav-item custmonavbar">
                        <a class="nav-link white">Diets</a>
                    </li>
                    <li class="nav-item custmonavbar">
                        <a class="nav-link white">Your Exercises</a>
                    </li>
                    <li class="nav-item custmonavbar">
                        <a class="nav-link text-white">Your Diets</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>