<div *ngIf="isLoading">
    <app-loader [isLoading]="isLoading"></app-loader>
</div>

<form #c="ngForm" class="post" (ngSubmit)="submitFormHandler(c.value)" *ngIf="!isLoading">
    <fieldset>
        <h1>Post Form</h1>

        <!-- Title -->
        <p class="field">
            <label for="title">Title</label>
            <input #postTitle="ngModel" class="input-error" type="text" name="title" id="title" ngModel required minlength="4">
        </p>
        <p class="error" *ngIf="postTitle.touched && postTitle.errors?.required">
            Title is required!
        </p>
        <p *ngIf="postTitle.touched && postTitle.errors?.minlength" class="error ">
            Title must be at least 4 characters!
        </p>

        <!-- imageUrl -->
        <p class="field field-icon">
            <label for="imageUrl">Image Url</label>
            <input #postImageUrl="ngModel" class="input-error" type="text" name="imageUrl" id="imageUrl" ngModel required minlength="4">
        </p>
        <p *ngIf="postImageUrl.touched && postImageUrl.errors?.minlength" class="error ">
            Image Url must be at least 4 characters!
        </p>

        <!-- description -->
        <div class="field">
            <label for="description">Description</label>
            <textarea #postDescription="ngModel" type="text" name="description" id="description" ngModel required minlength="10"></textarea>
        </div>
        <p class="error" *ngIf="postDescription.touched && postDescription.errors?.required">
            Description is required!
        </p>
        <p *ngIf="postDescription.touched && postDescription.errors?.minlength" class="error ">
            Description must be at least 10 characters!
        </p>

        <p *ngIf="!!errorMessage" class="error ">
            Wrong data!
        </p>

        <button [disabled]="isLoading || c.invalid">Post</button>

    </fieldset>
</form>