<div *ngIf="allPosts.length === 0">There is no Themes!</div>

<div class="row blog-page" *ngFor="let post of allPosts">
    <div>
        <div id="cheifdiv">
            <h2>{{post.title}}</h2>
            <div>
                <ul>
                    <li>
                        <i class="fas fa-user-edit"></i>
                        <div class="text-white">{{post.userId.username}}</div>>
                    </li>

                    <li>
                        <i class="fas fa-calendar-alt"></i>
                        <div class="text-white">{{post.created_at}}</div>>
                    </li>
                </ul>
                <div id="registermap">
                    <a id="details" routerLink="/user/register" class="navitem">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>