<div *ngIf="allPosts.length === 0">

    There is no Themes!</div>

<div class="row blog-page" *ngFor="let post of allPosts">
    <div>
        <div id="cheifdiv">
            <h2>{{post.title}}</h2>
            <div id="infoHolder">
                <div id="username">{{post.userId.username}}</div>
                <div id="likes">{{post.likes.length}} Likes</div>
                <div id="detailsButton">
                    <a id="details" routerLink="/user/register" class="navitem">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>